<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="toolbar" role="banner">
  <a (click)="redirectToPage('/home')">
    <img src="../assets/UniversityLogo.png" alt="University logo" width="160" height="70"/>
  </a>
  <span class="toolbar-title">Hudrea Tara</span>
  <div class="spacer"></div>

  <div class="button-8-wrapper">
    <button class="button-8" role="button" (click)="redirectToPage('/home')">HOME</button>
    <button class="button-8" role="button" (click)="redirectToPage('')">TEACHING</button>
    <button class="button-8" role="button" (click)="redirectToPage('aboutMe')">ABOUT ME</button>
    <!--    <button class="button-8" role="button" (click)="redirectToPage('')">ANNOUNCEMENTS</button>-->
  </div>
</div>

<div class="content" role="main">
  <h1> Short overview </h1>
  <br>
  <span > Associate Professor at Faculty of Mathematics and Computer Science, UBB, with a real passion for fostering the next generation of innovative minds, I specialized in two key subjects: Object-Oriented Programming (OOP) and Fundamentals of Programming.
    I am eager to help the young minds through their journey, starting from the basics to the nitty-gritty of OOP, we'll embark on a journey of discovery together.
</span>

  <br><br>
  <h1> Hobbies & Passions </h1>
  <div class="teacher-photo">
    <img class="teacher-image" src="../assets/Hicking.jpg" alt="Teacher Photo" width="200" height="300">
    <img class="teacher-image" src="../assets/Hicking_2.jpg" alt="Teacher Photo" width="200" height="300">
    <img class="teacher-image" src="../assets/Snowboard.jpg" alt="Teacher Photo" width="200" height="300">
    <img class="teacher-image" src="../assets/Plants.jpg" alt="Teacher Photo" width="200" height="300">
  </div>


  <br><br>
  <h1> My Pets </h1>
  <div class="teacher-photo">
    <img class="teacher-image" src="../assets/Luna.jpg" alt="Teacher Photo" width="200" height="300">
    <img class="teacher-image" src="../assets/Sasha.jpg" alt="Teacher Photo" width="200" height="300">
  </div>
</div>
