<div class="toolbar" role="banner">
  <a (click)="redirectToPage('/home')">
    <img src="./assets/UniversityLogo.jpg" alt="University logo" width="160" height="70">
  </a>
  <h2 class="toolbar-title">Hudrea Tara</h2>
  <div class="spacer"></div>

  <div class="button-8-wrapper">
    <button class="button-8" role="button" (click)="redirectToPage('/home')">HOME</button>
    <button class="button-8" role="button" (click)="redirectToPage('/teaching')">TEACHING</button>
    <button class="button-8" role="button" (click)="redirectToPage('/aboutMe')">ABOUT ME</button>
    <button class="button-8" role="button" (click)="redirectToPage('/contact')">CONTACT</button>
  </div>
</div>
