<div class="toolbar" role="banner">
  <a (click)="redirectToPage('/home')">
    <img src="./assets/UniversityLogo.png" alt="University logo" width="160" height="70">
  </a>
  <span class="toolbar-title">Hudrea Tara</span>
  <div class="spacer"></div>

  <div class="button-8-wrapper">
    <button class="button-8" role="button" (click)="redirectToPage('/home')">HOME</button>
    <button class="button-8" role="button" (click)="redirectToPage('')">TEACHING</button>
    <button class="button-8" role="button" (click)="redirectToPage('aboutMe')">ABOUT ME</button>
    <!--    <button class="button-8" role="button" (click)="redirectToPage('')">ANNOUNCEMENTS</button>-->
  </div>
</div>
