<header>
  <app-navbar></app-navbar>
</header>
<main>
  <div class="content" role="main">
    <div class="button-8-wrapper">
      <button class="button-8" role="button"> ODD WEEK </button>
      <button class="button-8" role="button"> EVEN WEEK </button>
    </div>
    <br>
    <table class="calendar">
      <thead>
      <tr>
        <th colspan="8">Timetable 2023-2024</th>
      </tr>
      <tr class="weekdays">
        <th>Timeslot</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>8:00-10:00</td>
        <td class="inactive"></td>
        <td class="inactive"></td>
        <td class="inactive"></td>
        <td>OOP - 931 (L402)</td>
        <td>OOP - 933 (L402)</td>
        <td class="inactive"></td>
        <td class="inactive"></td>
      </tr>

      <tr>
        <td>10:00-12:00</td>
        <td class="inactive"></td>
        <td>FP - 234 (L306)</td>
        <td class="inactive"></td>
        <td>OOP - 236 (L338)</td>
        <td class="inactive"></td>
        <td class="inactive"></td>
        <td class="inactive"></td>
      </tr>

      <tr>
        <td>12:00-14:00</td>
        <td>FP - 231 (L306)</td>
        <td class="inactive"></td>
        <td>OOP - 233 (L301)</td>
        <td class="inactive"></td>
        <td class="inactive"></td>
        <td class="inactive"></td>
        <td class="inactive"></td>
      </tr>
      <tr>
        <td>14:00-16:00</td>
        <td>FP - 236 (L306)</td>
        <td class="inactive"></td>
        <td class="inactive"></td>
        <td class="inactive"></td>
        <td class="inactive"></td>
        <td class="inactive"></td>
        <td class="inactive"></td>
      </tr>
      <tr>
        <td>16:00-18:00</td>
        <td class="inactive"></td>
        <td>OOP - 935 (L306)</td>
        <td class="inactive"></td>
        <td class="inactive"></td>
        <td class="inactive"></td>
        <td class="inactive"></td>
        <td class="inactive"></td>
      </tr>
      <tr>
        <td>18:00-20:00</td>
        <td>OOP - 237 (L306)</td>
        <td>OOP - 936 (L301)</td>
        <td class="inactive"></td>
        <td class="inactive"></td>
        <td class="inactive"></td>
        <td class="inactive"></td>
        <td class="inactive"></td>
      </tr>

      </tbody>
    </table>
  </div>
</main>
